:host ::ng-deep .p-carousel {
    border: none !important;
}
:host ::ng-deep .p-panel-header {
    background-color: var(--surface-600);
    border-color: var(--surface-600);
    color: #ffffff;
}

:host ::ng-deep .p-panel-content {
    border-color: var(--surface-600);
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
} 