<nav class="navbar navbar-expand-sm fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-item" routerLink="/init">
            <img
              src="../../../assets/img/logo/logo.png"
              alt="Logo"
              style="width: 40px"
              class="rounded-pill"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/init">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies">Películas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/series">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/myList">Mi lista</a>
        </li>
        <form [formGroup]="searchForm" (ngSubmit)="searchMedia()">
          <input type="text" pInputText formControlName="busqueda" />
          <button
            style="margin-left: 3px"
            type="submit"
            class="btn btn-primary btn-sm"
          >
            buscar
          </button>
        </form>
      </ul>
      <span style="margin-right: 2%; color: white">{{ userName }}</span>
      <span
        class="pi pi-sign-out"
        (click)="logOut()"
        style="font-size: 1.5rem; color: white"
      ></span>
    </div>
  </div>
  <div></div>
</nav>

<p-dialog
  [header]="dataMedia.length > 1 ? 'Resultados...' : 'Resultado'"
  [modal]="true"
  [(visible)]="visibleSearch"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
>
  <div class="card">
    <p-table
      [value]="dataMedia"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Título</th>
          <th>Director</th>
          <th>detalle</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-media>
        <tr>
          <td>{{ media.title }}</td>
          <td>{{ media.director }}</td>
          <td
            style="display: flex; justify-content: center; align-items: center"
          >
            <a [routerLink]="['/detail', media.id]">
              <i class="pi pi-info-circle"></i>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
<p-toast [position]="'top-center'"></p-toast>
