<nav class="navbar navbar-expand-sm fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-item" routerLink="/init">
            <img
              src="../../../assets/img/logo/logo.png"
              alt="Logo"
              style="width: 40px"
              class="rounded-pill"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/init">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies">Películas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/series">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/myList">Mi lista</a>
        </li>
      </ul>
      <span
        class="pi pi-sign-out"
        (click)="logOut()"
        style="font-size: 1.5rem; color: white"
      ></span>
    </div>
  </div>
  <div></div>
</nav>
