<p-card header="{{ item.title }}" subheader="{{ item.director }}">
  <ng-template pTemplate="header">
    <img
      alt="Card"
      src="../../../assets/img/media/{{ item.poster }}"
      style="max-width: 100%; height: auto; max-height: 400px"
    />
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Saber más"></p-button>
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      severity="danger"
      [style]="{ 'margin-left': '.5em' }"
      (click)="onDeleteFavourite(item.title)"
    ></p-button>
  </ng-template>
</p-card>
