@if (!chooseRegister) {
<div style="margin-top: 200px"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="email" class="form-label">Email</label><br />
                <input
                  pInputText
                  id="username"
                  aria-describedby="username-help"
                  placeholder="example@gmail.com"
                  formControlName="username"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="password" class="form-label">Password</label><br />
                <p-password [toggleMask]="true" formControlName="password" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
              <div class="col-md-6">
                <p>
                  ¿Aún no estás registrado?
                  <u (click)="showRegister()">Regístrate</u>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
<div style="margin-top: 200px"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="email" class="form-label">Email</label><br />
                <input
                  pInputText
                  id="username"
                  aria-describedby="username-help"
                  placeholder="example@gmail.com"
                  formControlName="username"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="password" class="form-label">Password</label><br />
                <p-password [toggleMask]="true" formControlName="password" />
              </div>
            </div>

            <div class="row">
              <div class="col-lg-9">
                <button type="submit" class="btn btn-primary">register</button>
              </div>
              <div class="col-lg-3">
                <p>
                  <u (click)="showLogin()">Volver al login</u>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
}

<p-toast position="top-center"></p-toast>
