<p-card header="{{ item.title }}" subheader="{{ item.director }}">
  <ng-template pTemplate="header">
    <img
      alt="Card"
      src="../../../assets/img/media/{{ item.poster }}"
      style="max-width: 100%; height: auto; max-height: 400px"
    />
  </ng-template>
  <!--   <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
    consequuntur error repudiandae numquam deserunt quisquam repellat libero
    asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas!
  </p> -->
  <ng-template pTemplate="footer">
    <a [routerLink]="['/detail', item.id]">
      <p-button label="Saber más"></p-button>
    </a>
  </ng-template>
</p-card>
