<div class="container-fluid" style="margin-top: 100px">
  <div class="row card-container text-center align-items-center">
    @for (serie of paginatedSeries; track $index) {
    <div class="col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 15px">
      <app-card [item]="serie"></app-card>
    </div>
    }
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="objectsPerPage"
      [totalRecords]="series.length"
    ></p-paginator>
  </div>
</div>
